<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
        <%= link_to post.title, post %><br>
        <%= post.content %><br>
        <% if user_signed_in? %>
          <small><%= current_user.username %></small>
        <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "New Post", new_post_path %><br>

<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign In', new_user_session_path %>
<% end %>

  
 