
<div class="container">

  <div class="row my-5">
    <div class="col-md-3">
      <% if user_signed_in? %>
    		<%= render 'profile' %>
    	<% else %>
       <%= render 'trends' %>
      <% end %>  
    </div>
    <div class="col-md-6">
      <%= render 'feed' %>
    </div>
    <div class="col-md-3">
      <%= render 'who_to_follow' %>
    </div>
  </div>

  <div class="row">
    <%= link_to "New Post", new_post_path %><br>
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign In', new_user_session_path %>
    <% end %>
  </div>

</div>



